PGHOST="localhost"
PGPORT="5432"
PGDATABASE="loom"
PGUSER="postgres"
PGPASSWORD="password"
PGIDLE_TIMEOUT=""
PGCONNECT_TIMEOUT=""

OIDC_URL="http://localhost:8080/realms/loom"
OIDC_CLIENTID="loom-app"
OIDC_SECRET="dev-secret-changeme"
OIDC_SCOPES="openid"
OIDC_DISABLE_PASSWORD='false'

COOKIE_KEYS="latestsecretchangeme__oldersecretchangeme__oldestsecretchangeme"

IMMICH_URL="http://localhost:2283"
IMMICH_API_KEY="changeme"
IMMICH_ALBUM_ID="00000000-0000-0000-0000-000000000000"

BLOOMIN8_URL="http://192.168.10.128"