# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# Not valid JSON - contains unquoted envsubst placeholders
docker/keycloak-dev/realm-template.json
